.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            height: 40px;
        }
       
    }
    .admin-header{

        .language{
            display: flex;
            float: right;
            margin-right: 50px;
            cursor: pointer;
            .language-vi{
                margin-right: 10px;
                color: green;
            }
            .language-en{
                color: blue;
            }
        }
    }
}