.btn-search{
    background-color: rgb(29, 221, 96);
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}
.hidden-btn{
    background-color: rgb(89, 0, 255) !important;
    color: #fff !important;
}